body {
    text-align: center;
    padding: 10px;
    background-color: navajowhite;
  }
  button {
    padding: 10px;
    margin-top: 20px;
  }
  #album1 {
    width:400px;
    height:600px;
  }